aiofiles==0.5.0
async-exit-stack==1.0.1
email-validator==1.1.2
fastapi==0.63.0
gunicorn==20.0.4
graphene==2.1.8
httptools==0.1.1
itsdangerous==1.1.0
opencv-python==4.5.1.48
orjson==3.5.0
pandas==1.2.2
python-dotenv==0.15.0
python-multipart==0.0.5
PyYAML==5.4.1
scipy==1.6.1
tensorflow==2.9.3
ujson==3.2.0
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1